@{
    ViewData["Title"] = "Home Page";
}

<div class="container-fluid">
    <!-- Header-->
    <header class="bg-dark py-5">
        <div class="container-fluid px-5">
            <div class="row gx-5 align-items-center justify-content-center">
                <div class="col-lg-8 col-xl-7 col-xxl-6">
                    <div class="my-5 text-center text-xl-start">
                        <h1 class="display-5 fw-bolder text-white mb-2 text-capitalize">Kaarti visual Solutions</h1>
                        <p class="lead fw-normal text-white-50 mb-4">Quickly design and customize responsive mobile-first sites with us, the best solutions for web development</p>
                        <div class="d-grid gap-3 d-sm-flex justify-content-sm-center justify-content-xl-start">
                            <a class="btn btn-primary btn-lg px-4 me-sm-3" href="#features">Get Started</a>
                            <a class="btn btn-outline-light btn-lg px-4" href="#!">Learn More</a>
                        </div>
                    </div>
                </div>
                <div class="col-xl-5 col-xxl-6 d-none d-xl-block text-center"><img class="img-fluid rounded-3 my-5" src="https://dummyimage.com/600x400/343a40/6c757d" alt="..." /></div>
            </div>
        </div>
    </header>
    <section class="py-5" id="features">
        <div class="container px-5 my-5">
            <div class="row gx-5">
                <div class="col-lg-4 mb-5 mb-lg-0"><h2 class="fw-bolder mb-0">A better process in building the websites</h2></div>
                <div class="col-lg-8">
                    <div class="row gx-5 row-cols-1 row-cols-md-2">
                        <div class="col mb-5 h-100">
                            <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-collection"></i></div>
                            <h2 class="h5">Figma - UI/UX</h2>
                            <p class="mb-0 text-justify">
                                The tool provides you with the ability to add functionalities including text manipulation,
                                color changes, image adjustments, hovering, scrolling, and animation to their interface assets based on requirements.
                            </p>
                        </div>
                        <div class="col mb-5 h-100">
                            <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-building"></i></div>
                            <h2 class="h5">Prototyping the UX experience</h2>
                            <p class="mb-0 text-justify">
                                The tool provides us the ability to add functionality related documents for UX experience based on required
                                procedures. Possessing the new design oriented components for prototyping.
                            </p>
                        </div>
                        <div class="col mb-5 mb-md-0 h-100">
                            <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-toggles2"></i></div>
                            <h2 class="h5">Functional Implementation</h2>
                            <p class="mb-0 text-justify">
                                The Implementation is based on planning on Azure boards or Agile methodology techniques posted by clients
                                development requirements.
                            </p>
                        </div>
                        <div class="col h-100">
                            <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-bar-chart"></i></div>
                            <h2 class="h5">Data Security &amp; Management</h2>
                            <p class="mb-0 text-justify">
                                The Security principles made and data is made secure using client identity and
                                shown as graphs to express the data based on required professionals using POWERBI tools, SSRS, etc.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="py-5 bg-light">
        <div class="container px-5 my-5">
            <div class="row gx-5 justify-content-center">
                <div class="col-lg-10 col-xl-7">
                    <div class="text-center">
                        <div class="fs-4 mb-4 fst-italic">
                            "We would like to express our appreciation and commendation for all the passion and cornmitment you have
                            been exhibiting in your existing role in period of employment."
                        </div>
                        <div class="d-flex align-items-center justify-content-center">
                            <div class="fw-bold">
                                Fazil Ahamed
                                <span class="fw-bold text-primary mx-1">/</span>
                                Human Resource Manager, Forartech
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
