@model IEnumerable<Kavifx.UI.Models.RoleViewModel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_dashLayout.cshtml";
}

<!-- Page Heading -->
<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Manage Roles</h1>
    <a asp-action="Create" asp-controller="Role" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm">
        <i class="fas fa-download fa-sm text-white-50"></i> Create Role
    </a>
</div>


<div class="container-fluid">
    <div class="row">
        <div class="col-xl-12 col-lg-12">
            <div class="card shadow mb-4 rounded-3">
                <div class="card-header text-primary fw-bold">
                    Manage Roles
                </div>
                <div class="card-body">
                    <div class="table table-responsive">
                        <table class="table table-hover" id="usertable">
                            <thead>
                                <tr>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Name)
                                    </th>                                   
                                    <th>Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Name)
                                        </td>
                                        <td>
                                            @Html.ActionLink("Edit", "Edit", new { id = item.RoleId }, new { @class = "btn btn-primary btn-sm", role = "button" })
                                            @Html.ActionLink("Delete", "Delete", new { id = item.RoleId }, new { @class = "btn btn-danger btn-sm", role = "button" })
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
