@model Kavifx.UI.Models.UpdatePermissionInRoleViewModel

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_dashLayout.cshtml";
}

<!-- Page Heading -->
<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Update Role Permission</h1>
    <a asp-action="Index" asp-controller="RolePermission" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm">
        <i class="fas fa-download fa-sm text-white-50"></i> Assign Role Permission
    </a>
</div>

<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" asp-controller="RolePermission" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>            
            <div class="form-group">
                <label asp-for="RoleName" class="control-label"></label>
                <input asp-for="RoleName" class="form-control" readonly />
                <span asp-validation-for="RoleName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Permissions" class="control-label"></label>
                @Html.DropDownListFor(m => m.PermissionName, new SelectList(Model.Permissions, "Value", "Text"), "Please select a role", new { @class = "form-control form-select" })
                <span asp-validation-for="Permissions" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

